p {
    font-size: 15px;
    font-family: sans-serif;
}

input {
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 1px;
    border-width: 2px ;
    border-color: darkslategrey;
}
